@import "./sidebar.css";
@import "./sidebar-analytics.css/header.css";
@import "./sidebar-analytics.css/main-hero.css";
@import "./sidebar-analytics.css/highlights-grid.css";
@import "./sidebar-analytics.css/hourly-chart.css";
@import "./sidebar-analytics.css/rain-forecast.css";
@import "./sidebar-analytics.css/three-day-forecast.css";
@import "./themes.css";
@import "./sidebar-settings.css";
@import "./sidebar-locations.css";
@import "./sidebar-forecast.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #171b60;
  --color-secondary: #9d92e3;

  --color-surface-main: #ffffff;
  --color-surface-alt: #f6f4fc;

  --text-strong: #1a1c2b; 
  --text-main: #5d5f7d; 
  --text-muted: #7f808d; 
  --text-inverse: #ffffff;
  --weather-card-text: var(--text-inverse);

  --ui-border: #afb1c8;
  --ui-input-bg: #f6f6f6;

  --ui-nav-active: #535f91;
  --ui-nav-inactive: #858acf;

  --ui-graph-track: #ebe8f9;

  --app-bg-gradient: linear-gradient(90deg, #171b60 20%, #9d92e3 20%);
  --app-layout-gradient: linear-gradient(180deg, #ffffff, #171b60);

  --ui-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  --ui-shadow-btn: 0 4px 10px rgba(157, 146, 227, 0.4);

  --color-temp-bar: #858acf;
  --color-rain-bar: #535f91;

  --ui-border-strong: var(--ui-border);
  --ui-border-soft: color-mix(in srgb, var(--ui-border) 55%, transparent);
  font: 10px;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app-background {
  z-index: 0;
  background: var(--app-bg-gradient);
  /* height: clamp(700px, 100vh, 900px); */
  /* width: clamp(90px, 100vw, 1560px); */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 10%; */
}
/* #app-background > *{
  border: 2px solid red;
} */
.app-layout {
  z-index: 1;
  /* height: clamp(700px, 80vh, 900px);
  width: clamp(900px, 80vw, 1560px); */
  height: 80vh;
  width: 80vw;
  border-radius: 50px;
  background: var(--app-layout-gradient);
  padding: 7px;
  display: flex;
  overflow: hidden;
}
.dashboard-content {
  /* border: 1px solid red; */
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background: var(--color-surface-main);
  border-radius: 0 43px 43px 0;
  padding-left: 10px;
  gap: 10px;
  overflow: hidden;
}