@import "./themes.css";

.sidebar {
  /* border: 1px solid red; */
  background: var(--color-primary);
  color: var(--text-inverse);
  border-radius: 43px 0 0 43px;
  width: calc(10vw - 4px);
}
.nav-list {
  /* border: 1px solid red; */
  margin: 50% 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nav-list > li {
  color: var(--ui-nav-inactive);
  padding: 5% 10%;
  transition:
    background-color 0.3s ease-in-out,
    padding 0.2s ease-in-out;
}
.nav-list > li:hover,
.nav-list > li.active {
  background: var(--ui-nav-active);
  color: var(--color-surface-main);
  cursor: pointer;
  padding: 5% 20%;
}
.nav-list > li.active{
  background: linear-gradient(
    90deg,
    #ffffff 5%,
    var(--ui-nav-active) 5%
  );
}