@import "./../themes.css";

.hourly-chart {
  grid-column: 1/4;
  grid-row: 7/9;
  padding: 10px;
  margin: 0 20px 10px 0;
  border: 2px solid var(--ui-border-soft);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: space-between; */
}
.hourly-chart > .label {
  font-weight: 700;
  color: var(--text-strong);
}
.hourly-chart > .chart {
  flex: 1;
  display: flex;
}
.hourly-chart .data-point {
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  /* font-size: 15px; */
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-muted);
}
.hourly-chart .bar {
  /* border: 1px solid red; */
  width: 8px;
  align-items: baseline;
  margin-top: auto;
  /* flex: 1; */
  background-color: var(--color-temp-bar);
  border-radius: 3px;
}
